

body {
    font-family: sans-serif;
}

.jtk-demo-main {
    display: flex;
    height: 100vh;
}

.jtk-demo-canvas {
    background-color: white;
    display: flex;
    flex-grow: 1;
    position: relative;
    overflow: hidden !important;
}

.jtk-demo-rhs {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #f9f9f9;
    flex: 0 0 250px;
    padding: 20px 5px 0 5px;
}

.node-palette {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miniview {
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 100;
}

.jtk-demo-main .description {
    font-size: 13px;
    padding: 13px;
}

.jtk-demo-main .description ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.jtk-demo-main .description li {
    list-style-type: disc !important;
    margin: 3px 0;
}

.jtk-controls-container {
    top: 25px;
    position: absolute;
    left: 25px;
    z-index: 1;
    font-size:14px;
}

.jtk-export {
    left: 25px;
    position: absolute;
    top: 60px;
    z-index: 100;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
